  .balise{
    font-family: 'La Belle Aurore', cursive;
  } 
  .home-page{
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
  }
  .home-page .balise {
    animation: fadeIn 1s 1.7 backwards;
    opacity: 0.6;
  }
  .home-page h2{
    animation: fadeIn 1s 1.8s backwards;
  }
  .contact-home{
    animation: fadeIn 1s 1.8s backwards;
  }

  .container-card:hover .text{
    visibility: visible;
  }

  .image-card{
    -webkit-box-shadow: 5px 5px 20px -1px #000000; 
    box-shadow: 5px 5px 20px -1px #000000;
  }
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
